<div class="waka">
    <h1 class="yellow cursive">My time in summary</h1>
    <div class="waka-grid">
        <div class="waka-chart">
            <h3>Categories</h3>
            <figure><embed
                    src="https://wakatime.com/share/@ffac03a1-14f6-4e08-b3d1-0cc8f0a74af3/e231a0c4-1724-4dd0-b483-2a99a117eab0.svg"></embed>
            </figure>
        </div>
        <div class="waka-chart">
            <h3>Coding Activity</h3>
            <figure><embed
                    src="https://wakatime.com/share/@ffac03a1-14f6-4e08-b3d1-0cc8f0a74af3/91dbbf26-ebdd-4a0b-9b8c-03dc9caeb601.svg"></embed>
            </figure>
        </div>
        <div class="waka-chart">
            <h3>Operating Systems</h3>
            <figure><embed
                    src="https://wakatime.com/share/@ffac03a1-14f6-4e08-b3d1-0cc8f0a74af3/98aee0d6-7ced-43fc-a3dd-f3ce981c1f70.svg"></embed>
            </figure>
        </div>
        <div class="waka-chart">
            <h3>Progamming Languages</h3>
            <figure><embed
                    src="https://wakatime.com/share/@ffac03a1-14f6-4e08-b3d1-0cc8f0a74af3/f21c396d-f88f-470d-b95b-41dcf18a5d1e.svg"></embed>
            </figure>
        </div>
    </div>
</div>